.icons {
  max-width: 1160px;
  margin: 0 auto;
  background: #eee;
}

.grid {
  font-size: 0;
  margin: 0 -20px;

  background-color:;
}

.col {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 0 20px;
  margin-bottom: 20px;
}

.col_6 {
  width: calc(16.666666% - 40px);
}

.col_4 {
  width: calc(25% - 40px);
}

.items {
  min-height: 160px;
  background-color: yellow;

}
